.hero {
  height: calc(100vh - 103px);
  padding-top: 160px;
  background-image: url("../../images/bg.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  color: aliceblue;


  @include r(1536) {
    padding-top: 120px;
  }

  @include r(768) {
    padding-top: 170px;
  }

  &__container {
    @include r(1440) {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

    }
  }

  @include r(1440) {
    height: calc(100vh - 73px);
    padding-top: 100px;
  }

  @include r(768) {
    height: inherit;
  }

}

p {
  margin: 0;
}

.player {
  max-width: 585px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 30px;
  overflow: hidden;

  @include r(1540) {
    margin-bottom: 10px;
    max-width: 480px;
  }

  @include r(1440) {
    margin-bottom: 10px;
    max-width: 550px;
  }

  @include r(768) {
    margin-bottom: 50px;
  }

  &__video {
    position: relative;
    max-width: 585px;
    width: 100%;

    &-img {
      filter: brightness(30%);
    }


    & img {
      @include r(1440) {
        height: 200px;
        width: 100%;
      }
    }

  }

  &__block {
    background-image: url("../../images/bg-2.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
  }

  &__tabs-title {
    margin: 0;
    margin-bottom: 19px;
    font-size: 21px;
    color: #e4e4e4;

    @include r(1440) {
      margin-bottom: 10px;
    }

  }

  &__tabs-text {
    margin: 0;
    font-size: 16px;
    color: #f8c275;

  }
}

.tabs-content {
  display: none;

  &__box {
    padding: 25px;
    text-align: center;

    @include r(1440) {
      padding: 10px;
    }

  }

  &--active {
    display: block;
  }
}

.btn-play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 65px;
  height: 65px;
  background-image: url("../../images/play.png");
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 18px;
  transition: box-shadow 0.3s;
  z-index: 100;

  &:hover {
    box-shadow: 2px 3px 18px 5px rgba(245, 137, 94, 0.7);
  }
}

.player__tabs-btn {
  background-image: url("../../images/btn_large1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fffefe;
  font-size: 18px;
  text-transform: uppercase;
  transition: background-image 0.2s, color 0.3s;
  filter: brightness(100%);
  border-radius: 10px;
  transition: filter 0.3s, box-shadow 0.3s;


  &:hover {
    filter: brightness(130%);
    box-shadow: 2px 3px 18px 5px rgba(245, 109, 56, 0.5);
  }
}

.player__tabs-btn.player__tabs-btn--active {
  padding: 10px 70px;
  background-image: url("../../images/button-black.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: inherit;
  color: #3a3a3a;
  font-size: 18px;
  text-transform: uppercase;
  transition: background-image 0.3s, color 0.3s, box-shadow 0.3s;

  @include r(500) {
    padding: 10px 80px;
    margin-bottom: 20px;

  }

  &:hover {
    box-shadow: none;
  }
}

.btn-box {
  padding-bottom: 20px;
  display: block;
  text-align: center;

  @include r(500) {
    display: flex;
    flex-direction: column;
    align-items: center;

  }
}

.btn-tab {
  padding: 10px 70px;
  border-radius: 10px;

  &:not(:last-child) {
    margin-right: 15px;

    @include r(1024) {
      margin-right: 5px;
    }

    @include r(500) {
      margin-right: 0;

    }

  }
}

.registration {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;

  @include r(768) {
    flex-direction: column;
    align-items: center;
  }

  &__left {
    text-align: center;

    @include r(768) {

      margin-bottom: 30px;
    }

  }

  &__center {
    text-align: center;

    @include r(768) {
      order: -1;
      margin-bottom: 30px;
    }

  }

  &__right {
    text-align: center;

    @include r(768) {
      order: -3;
      margin-bottom: 30px;
    }

  }

  &__left-promo {
    margin-bottom: 5px;

    @include r(1440) {
      font-size: 16px;
    }

  }

  &__left-btn {
    display: flex;
  }

  &__center-btn {
    display: block;
    padding: 20px 50px;
    margin-bottom: 10px;
    width: 370px;
    height: 80px;
    background-image: url("../../images/button3.png");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 18px;
    font-size: 22px;
    text-transform: uppercase;
    color: #fff;
    filter: brightness(100%);
    transition: filter 0.3s, box-shadow 0.3s;

    @include r(1440) {
      font-size: 16px;
      line-height: 15px;
      padding: 20px 20px;
      margin-bottom: 5px;
      width: 250px;
      height: 60px;
    }

    @include r(768) {
      margin-bottom: 10px;
      font-size: 18px;
      line-height: 22px;
      padding: 20px 20px;
      margin-bottom: 5px;
      width: 370px;
      height: 80px;
    }

    @include r(500) {
      width: 290px;

    }

    &:hover {
      filter: brightness(130%);
      box-shadow: 0px 0px 23px 5px rgba(63, 175, 236, 0.5);
    }

    & span {
      font-size: 12px;
      text-transform: uppercase;
      color: #aaa9a9;
    }
  }

  &__item {
    position: relative;
  }
}


.tooltip {
  width: 400px;
  position: absolute;
  bottom: 50px;
  left: -250%;
  padding: 20px 10px;
  font-size: 12px;
  letter-spacing: 0.5px;
  border-radius: 10px;
  background-color: $black;
  border: 1px solid #772302;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;

  &__img {
    margin-right: 20px;
    max-width: 50px;
    width: 100%;
    border: 2px solid #772302;
    border-radius: 5px;
    transition: box-shadow 0.3s, border 0.3s, filter 0.3s, transform 0.3s;
    filter: brightness(100%);
  }

  &__header {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
  }

  &__pol {
    text-align: left;
    padding-left: 70px;
  }

  &__info {
    text-align: left;
  }

  &__footer {
    text-align: left;
    padding-left: 70px;
  }

  &__name {
    font-size: 14px;
    font-weight: 700;
    color: #0799f0;
  }

  &__type {
    color: #ffd200;
  }

  &__text {
    color: #ffa400;
  }
}

.btn {
  width: 35px;
  height: 35px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border: 2px solid #772302;
  border-radius: 5px;
  transition: box-shadow 0.3s, border 0.3s, filter 0.3s, transform 0.3s;
  filter: brightness(100%);


  @include r(884) {
    width: 25px;
    height: 25px;
    margin-right: 0;
  }

  @include r(768) {
    width: 40px;
    height: 40px;
    margin-right: 0
  }

  @include r(500) {
    width: 30px;
    height: 30px;

  }


  &:hover+.tooltip {
    visibility: visible;
    box-shadow: 2px 3px 18px 5px rgba(245, 109, 56, 0.3);
    opacity: 1;
  }

  &:hover {
    border-color: #f38052;
    box-shadow: 2px 3px 18px 5px rgba(245, 109, 56, 0.5);
    filter: brightness(130%);
    transform: scale(1.2);
  }

  &:not(:last-child) {
    margin-right: 13px;


  }
}




.btn-text {
  @include r(1440) {
    font-size: 16px;
  }

  & span {
    color: #f8c275;

  }
}

.timer {
  color: #f8c275;
}
