<header class="header">
  <div class="header__container container">
    <div class="header__inner">
      <a class="logo" href="#">
        <img src="images/logo.png" alt="" />
      </a>

      <nav class="nav" title="главное меню">
        <ul class="list-reset nav__list">
          <li class="nav__item">
            <a class="nav__link" href="#">На сайт</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#">Об игре </a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#">Сообщества</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
