<section class="hero">
  <h1 class="sr-only">
    Immortals - Единственный в своем роде проект Battle of the Immortals, сервер
    BOI на долгие годы!
  </h1>
  <div class="container hero__container">
    <div class="player">
      <div class="player__block">
        <div class="tabs-content tabs-content--active" data-target="ss">
          <div class="player__video">
            <button class="btn-play btn-reset"></button>
            <img src="images/video.png" alt="" />
          </div>
          <div class="tabs-content__box">
            <p class="player__tabs-title">При нажатии кнопок текст меняться!</p>
            <p class="player__tabs-text">
              Battle of The Immortals - укт всем известной китайской
              компании-разработчика Perfect World Entertainment
            </p>
          </div>
        </div>

        <div class="tabs-content" data-target="xx">
          <div class="player__video player__video">
            <img class="player__video-img" src="images/bg-3.jpg" alt="" />
            <button class="btn-play btn-reset"></button>
          </div>
          <div class="tabs-content__box">
            <p class="player__tabs-title">При нажатии кнопок текст меняться!</p>
            <p class="player__tabs-text">
              Battle of The Immortals - укт всем известной китайской
              компании-разработчика Perfect World Entertainment
            </p>
          </div>
        </div>

        <div class="btn-box">
          <button
            class="btn-tab btn-reset player__tabs-btn player__tabs-btn--active"
            data-path="ss"
          >
            об игре
          </button>
          <button class="btn-tab btn-reset player__tabs-btn" data-path="xx">
            о сервере
          </button>
        </div>
      </div>
    </div>

    <div class="registration">
      <div class="registration__left">
        <p class="registration__left-promo">Твой промокод: “ATATA”</p>

        <ul class="registration__left-btn list-reset">
          <li class="registration__item">
            <button
              class="btn btn-reset"
              style="background-image: url('images/runa-1.png')"
            ></button>

            <div class="tooltip">
              <div class="tooltip__header">
                <img class="tooltip__img" src="images/runa-1.png" alt="" />
                <div class="tooltip__info">
                  <div class="tooltip__name">Руна двойного копыта</div>
                  <div class="tooltip__type">Разное</div>
                  <div class="tooltip__level">Уровень предмета: 1</div>
                  <div class="tooltip__level">Редкость: Редкий предмет</div>
                </div>
              </div>
              <div class="tooltip__footer">
                <div class="tooltip__title">
                  Позволяет увеличить время поучения двойного опыта на час.
                </div>
                <div class="tooltip__title green">
                  Щелкните правой кнопкой мыши, чтобы использовать предмет.
                </div>
                <div class="tooltip__title green">
                  Можно приобрести в магазине игры.
                </div>
                <div class="tooltip__title blue">
                  Можно получить в награду за некоторые игровые события.
                </div>
                <div class="tooltip__title timer">
                  Этот предмет не нужен торговцам
                </div>
                <div class="tooltip__title timer">Персональный предмет</div>
              </div>
            </div>
          </li>

          <li class="registration__item">
            <button
              class="btn btn-reset"
              style="background-image: url('images/runa-3.png')"
            ></button>

            <div class="tooltip">
              <div class="tooltip__header">
                <img class="tooltip__img" src="images/runa-3.png" alt="" />
                <div class="tooltip__info">
                  <div class="tooltip__name blue">Свиток копыта</div>
                  <div class="tooltip__type">Разное</div>
                  <div class="tooltip__level">Уровень предмета: 3</div>
                  <div class="tooltip__level">Редкость: Редкий предмет</div>
                </div>
              </div>
              <div class="tooltip__footer">
                <div class="tooltip__title">
                  Позволяет увеличить получаемый опыт на 20% в течении двух
                  часов.
                </div>
                <div class="tooltip__title green">
                  Щелкните правой кнопкой мыши, чтобы использовать предмет.
                </div>
                <div class="tooltip__title green">
                  Можно приобрести в магазине игры.
                </div>
                <div class="tooltip__title blue">
                  Можно получить в награду за некоторые игровые события.
                </div>
                <div class="tooltip__title timer">
                  Этот предмет не нужен торговцам
                </div>
                <div class="tooltip__title timer">Персональный предмет</div>
              </div>
            </div>
          </li>

          <li class="registration__item">
            <button
              class="btn btn-reset"
              style="background-image: url('images/runa-4.png')"
            ></button>

            <div class="tooltip">
              <div class="tooltip__header">
                <img class="tooltip__img" src="images/runa-4.png" alt="" />
                <div class="tooltip__info">
                  <div class="tooltip__name blue">Черный дракон</div>
                  <div class="tooltip__type">Разное</div>
                  <div class="tooltip__level">Уровень предмета: 3</div>
                  <div class="tooltip__level">Редкость: Редкий предмет</div>
                </div>
              </div>
              <div class="tooltip__footer">
                <div class="tooltip__title">
                  Тот, кто сумеет приручить дракона, обретет верного друга на
                  всю жизнь.
                </div>
                <div class="tooltip__title green">
                  А длина этой жизни будет зависеть от аппетита верного друга...
                </div>
                <div class="tooltip__title green">Улучшение не возможно.</div>
                <div class="tooltip__title blue">
                  Скорость передвижения: 95%
                </div>
                <div class="tooltip__title timer">
                  Повышает силу атак и заклинаний на 10%
                </div>
              </div>
            </div>
          </li>

          <li class="registration__item">
            <button
              class="btn btn-reset"
              style="background-image: url('images/runa-5.png')"
            ></button>

            <div class="tooltip">
              <div class="tooltip__header">
                <img class="tooltip__img" src="images/runa-5.png" alt="" />
                <div class="tooltip__info">
                  <div class="tooltip__name blue">Вода Хвергельмира I</div>
                  <div class="tooltip__type timer">Расходуемый предмет</div>
                  <div class="tooltip__level">Уровень предмета: 3</div>
                  <div class="tooltip__level">Требуемый уровень: 1</div>
                  <div class="tooltip__level">Ранг стража миров: 0</div>
                </div>
              </div>
              <div class="tooltip__footer">
                <div class="tooltip__title">
                  Небольшая колба, наполненная водой звенящего источника.
                </div>
                <div class="tooltip__title blue">
                  Мгновенно восстанавливает 20000 + 5% от запаса ОЗ.
                </div>
                <div class="tooltip__title green">
                  Щелкните правой кнопкой мыши, чтобы использовать предмет.
                </div>
                <div class="tooltip__title">Цена продажи торговцу: 1</div>
                <div class="tooltip__title timer">
                  Этот предмет не нужен торговцам
                </div>
                <div class="tooltip__title timer">Персональный предмет</div>
              </div>
            </div>
          </li>

          <li class="registration__item">
            <button
              class="btn btn-reset"
              style="background-image: url('images/runa-6.png')"
            ></button>

            <div class="tooltip">
              <div class="tooltip__header">
                <img class="tooltip__img" src="images/runa-6.png" alt="" />
                <div class="tooltip__info">
                  <div class="tooltip__name blue">Вода колодца миров I</div>
                  <div class="tooltip__type timer">Расходуемый предмет</div>
                  <div class="tooltip__level">Уровень предмета: 3</div>
                  <div class="tooltip__level">Требуемый уровень: 1</div>
                  <div class="tooltip__level">Ранг стража миров: 0</div>
                </div>
              </div>
              <div class="tooltip__footer">
                <div class="tooltip__title">
                  Небольшая колба, наполненная водой из колодца миров- источника
                  мудрости, охраняемого Мимиром.
                </div>
                <div class="tooltip__title blue">
                  Мгновенно восстанавливает 20000 + 5% от запаса ОМ.
                </div>
                <div class="tooltip__title green">
                  Щелкните правой кнопкой мыши, чтобы использовать предмет.
                </div>
                <div class="tooltip__title">Цена продажи торговцу: 1</div>
                <div class="tooltip__title timer">
                  Этот предмет не нужен торговцам
                </div>
                <div class="tooltip__title timer">Персональный предмет</div>
              </div>
            </div>
          </li>
        </ul>

        <p class="registration__left-promo">
          До конца действия: <span class="timer"> 00:09:13</span>
        </p>
      </div>
      <div class="registration__center">
        <button class="btn-reset registration__center-btn">
          зарегистрироваться<br />
          <span>и начать игру через 2 минуты</span>
        </button>
        <p class="btn-text">
          Текущий онлайн: <span>1720 человек</span> <br />
          Заходи и убедись сам!
        </p>
      </div>
      <div class="registration__right">
        <p class="registration__left-promo">Подарок при регистрации:</p>

        <ul class="registration__left-btn list-reset">
          <li class="registration__item">
            <button
              class="btn btn-reset"
              style="background-image: url('images/runa-7.png')"
            ></button>

            <div class="tooltip">
              <div class="tooltip__header">
                <img class="tooltip__img" src="images/runa-7.png" alt="" />
                <div class="tooltip__info">
                  <div class="tooltip__name">
                    Костюм 'Страж Востока' 30 дней
                  </div>
                  <div class="tooltip__type">Маскарадный костюм</div>
                  <div class="tooltip__level">Уровень: 1</div>
                </div>
              </div>
              <div class="tooltip__footer">
                <div class="tooltip__title">Повышает характеристики:</div>
                <div class="tooltip__text">Сила атаки +50</div>
                <div class="tooltip__text">Сила заклинаний +50</div>
                <div class="tooltip__text">
                  Вероятность критического удара +1%
                </div>
              </div>
              <div class="tooltip__pol">Пол: м</div>
            </div>
          </li>

          <li class="registration__item">
            <button
              class="btn btn-reset"
              style="background-image: url('images/runa-8.png')"
            ></button>

            <div class="tooltip">
              <div class="tooltip__header">
                <img class="tooltip__img" src="images/runa-8.png" alt="" />
                <div class="tooltip__info">
                  <div class="tooltip__name">Китайский веер 30 дней</div>
                  <div class="tooltip__type">Накидка</div>
                  <div class="tooltip__level">Уровень: 1</div>
                </div>
              </div>
              <div class="tooltip__footer">
                <div class="tooltip__title">Повышает характеристики:</div>
                <div class="tooltip__text">Сила 15</div>
                <div class="tooltip__text">Выносливость +15</div>
                <div class="tooltip__text">Ловкость +15</div>
                <div class="tooltip__text">Интелект +15</div>
                <div class="tooltip__text">Сила духа +15</div>
              </div>
              <div class="tooltip__pol">Пол: м</div>
            </div>
          </li>

          <li class="registration__item">
            <button
              class="btn btn-reset"
              style="background-image: url('images/runa-9.png')"
            ></button>

            <div class="tooltip">
              <div class="tooltip__header">
                <img class="tooltip__img" src="images/runa-9.png" alt="" />
                <div class="tooltip__info">
                  <div class="tooltip__name">Значок бессмертного 30 дней</div>
                  <div class="tooltip__type">Эмблема</div>
                  <div class="tooltip__level">Уровень: 1</div>
                </div>
              </div>
              <div class="tooltip__footer">
                <div class="tooltip__title">Повышает характеристики:</div>
                <div class="tooltip__text">Сила атаки +100</div>
                <div class="tooltip__text">Сила заклинаний +100</div>
                <div class="tooltip__text">
                  Вероятность критического удара +1%
                </div>
              </div>
            </div>
          </li>

          <li class="registration__item">
            <button
              class="btn btn-reset"
              style="background-image: url('images/runa-10.png')"
            ></button>

            <div class="tooltip">
              <div class="tooltip__header">
                <img class="tooltip__img" src="images/runa-10.png" alt="" />
                <div class="tooltip__info">
                  <div class="tooltip__name">Карта аристократа (7)</div>
                  <div class="tooltip__type">Разное</div>
                  <div class="tooltip__level">Уровень: 1</div>
                </div>
              </div>
              <div class="tooltip__footer">
                <div class="tooltip__text timer">
                  Позволяет в течении 7 дней пользоваться привилегиями высшего
                  аристократа.
                </div>
                <div class="tooltip__text text">
                  Во время автоматического сражения не расходуется бодрость и
                  появляется возможность использовать больше умений и предметов.
                </div>
                <div class="tooltip__text text">
                  Воскрешение в точке смерти становится бесплатным.
                </div>
                <div class="tooltip__text text">
                  Количество получаемых жетонов увеличивается вдвое.
                </div>
                <div class="tooltip__text text">
                  При входе в инстанс накладывается усиливающий эффект.
                </div>
              </div>
            </div>
          </li>

          <li class="registration__item">
            <button
              class="btn btn-reset"
              style="background-image: url('images/runa-11.png')"
            ></button>

            <div class="tooltip">
              <div class="tooltip__header">
                <img class="tooltip__img" src="images/runa-11.png" alt="" />
                <div class="tooltip__info">
                  <div class="tooltip__name">Набор эликсиров</div>
                  <div class="tooltip__type">Разное</div>
                  <div class="tooltip__level">Уровень: 1</div>
                </div>
              </div>
              <div class="tooltip__footer">
                <div class="tooltip__title text">Содержит набор:</div>
                <div class="tooltip__text">Эликсир удачи х5</div>
                <div class="tooltip__text">Эликсир ярости х5</div>
                <div class="tooltip__text">Благословление демона х5</div>
                <div class="tooltip__text">Дар Тюра х5</div>
                <div class="tooltip__text">Благословление бога жизни х5</div>
              </div>
            </div>
          </li>

          <li class="registration__item">
            <button
              class="btn btn-reset"
              style="background-image: url('images/runa-12.png')"
            ></button>

            <div class="tooltip">
              <div class="tooltip__header">
                <img class="tooltip__img" src="images/runa-12.png" alt="" />
                <div class="tooltip__info">
                  <div class="tooltip__name">Набор горнов</div>
                  <div class="tooltip__type">Разное</div>
                  <div class="tooltip__level">Уровень: 1</div>
                </div>
              </div>
              <div class="tooltip__footer">
                <div class="tooltip__text timer">Содержит 11 горнов.</div>
                <div class="tooltip__title text">
                  Позволяет отправить в чат сообщение.
                </div>
              </div>
            </div>
          </li>
        </ul>

        <p class="registration__left-promo">Успей получить его!</p>
      </div>
    </div>
  </div>
</section>
