<section class="hero">
  <h1 class="sr-only">Супер игра BATTLE of the IMMORTALS</h1>
  <div class="container hero__container">

    <div class="player">
      <div class="player__block">
        <div class="tabs-content tabs-content--active" data-target="ss">
          <div class="player__video">
            <button class="btn-play btn-reset"></button>
            <img src="images/video.png" alt="" />
          </div>
          <div class="tabs-content__box">
            <p class="player__tabs-title">При нажатии кнопок текст меняться!</p>
            <p class="player__tabs-text">
              Battle of The Immortals - укт всем известной китайской
              компании-разработчика Perfect World Entertainment
            </p>
          </div>
        </div>

        <div class="tabs-content" data-target="xx">
          <div class="player__video">
            <img src="images/video2.png" alt="" />
            <button class="btn-play btn-reset"></button>
          </div>
          <div class="tabs-content__box">
            <p class="player__tabs-title">При нажатии кнопок текст меняться!</p>
            <p class="player__tabs-text">
              Battle of The Immortals - укт всем известной китайской
              компании-разработчика Perfect World Entertainment
            </p>
          </div>
        </div>

        <div class="btn-box">
          <button class="btn-tab btn-reset player__tabs-btn player__tabs-btn--active" data-path="ss">
            об игре
          </button>
          <button class="btn-tab btn-reset player__tabs-btn" data-path="xx">
            о сервере
          </button>
        </div>
      </div>
    </div>

    <div class="registration">
      <div class="registration__left">
        <p class="registration__left-promo">Твой промокод: “ATATA”</p>
        <div class="registration__left-btn">
          <button class="btn btn-reset" style="background-image: url('images/runa-1.png')"></button>
          <button class="btn btn-reset" style="background-image: url('images/runa-2.png')"></button>
          <button class="btn btn-reset" style="background-image: url('images/runa-3.png')"></button>
          <button class="btn btn-reset" style="background-image: url('images/runa-4.png')"></button>
          <button class="btn btn-reset" style="background-image: url('images/runa-5.png')"></button>
          <button class="btn btn-reset" style="background-image: url('images/runa-6.png')"></button>
        </div>
        <p class="registration__left-promo">
          До конца действия: <span class="timer"> 00:09:13</span>
        </p>
      </div>
      <div class="registration__center">
        <button class="btn-reset registration__center-btn">
          зарегистрироваться<br />
          <span>и начать игру через 2 минуты</span>
        </button>
        <p class="btn-text">
          Текущий онлайн: <span>1720 человек</span> <br />
          Заходи и убедись сам!
        </p>
      </div>
      <div class="registration__right">
        <p class="registration__left-promo">Подарок при регистрации:</p>
        <div class="registration__left-btn">
          <button class="btn btn-reset" style="background-image: url('images/runa-7.png')"></button>
          <button class="btn btn-reset" style="background-image: url('images/runa-8.png')"></button>
          <button class="btn btn-reset" style="background-image: url('images/runa-9.png')"></button>
          <button class="btn btn-reset" style="background-image: url('images/runa-10.png')"></button>
          <button class="btn btn-reset" style="background-image: url('images/runa-11.png')"></button>
          <button class="btn btn-reset" style="background-image: url('images/runa-12.png')"></button>
        </div>
        <p class="registration__left-promo">Успей получить его!</p>
      </div>
    </div>

  </div>
</section>
